
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #013C58;
  color: white;
  display: flex;
  align-items: center;
  padding: 15px;
  position: relative;
}

/* 메인 아이콘, 노련한 이력서 텍스트 컨테이너  */ 
.Header-title {
  display: flex;
  cursor: pointer;
}

/*노련한 이력서 텍스트*/
.Header-titletext {
  font-size: 20px;
}

/*메인 아이콘*/
.Header-icon {
  height: 25px;
  width: 25px;
  margin-right: 5px;
}

/*메뉴 토글 아이콘*/
.Header-menu-icon {
  background: none;
  border: none;
  position: absolute;
  right: 8%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* 메뉴 열렸을 때 */
.Header-menu {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 60px;
  width: 200px;
  height: 50000px;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  color: black;
  z-index: 99999999999999999999999999;
  animation: slideIn 0.3s ease-in-out;
}



/*메뉴 나올 때*/
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.Header-menu ul {
  list-style: none;
}

.Header-menu li {
  margin-bottom: 20px;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header-logout {
  color: red;
}

.Header-logout-icon {
  margin-right: 3px;
  height: 30px;
  width: 30px;
}

@media (min-width: 1180px) {
  .Header-menu-icon {
    display: none;
  }
}