* {
    font-family: pretendard;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .content {
    padding: 20px;
  }
  
  .Banner {
    margin: -20px;
  }
  
  .job-posts,
  .my-resume {
    margin-top: 20px;
  }
  
  /*관심 채용 공고, 내 이력서*/
  .job-posts h2,
  .my-resume h2 {
    color: #262626;
    font-size: 24px;
  }
  
  /*추가하기 버튼*/
  .add-post {
    margin: 10px 0px -5px 210px;
    background-color: #bdeaff;
    color: #262626;
    font-size: 16px;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  
  /*새 이력서 작성하기 버튼*/
  .add-resume {
    margin-top: 10px;
    background-color: #fff;
    color: #262626;
    border: none;
    padding: 16px 89px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /*버튼 안에 플러스 기호*/
  .plus_icon {
    height: 20px;
    margin-right: 3px;
  }
  
  /*관심채용공고 내용*/
  .post-list {
    margin-top: 10px;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 6%;
  }
  
  /*더보기*/
  .more {
    color: #005e8a;
    font-weight: 500;
    font-size: 16px;
    margin-left: 275px;
    cursor: pointer;
  }
  
  /*그라데이션 박스 하나*/
  .post-item,
  .resume-item {
    background: linear-gradient(to right, #ffffff, #fff3c4);
    padding: 10px 15px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
  }
  
  /*관심채용공고 박스 하나*/
  .post-item {
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /*내 이력서 박스 하나*/
  .resume-item {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .orange-arrow {
    height: 24px;
    width: 24px;
    margin: 10px 0 -30px 270px;
  }
  
  /*날짜*/
  .post-item span,
  .resume-item span {
    display: block;
    text-align: right;
    color: #666666;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
  }
  