
.detail-container {
  width: 360px;
  height: 821px;
  background-color: #f0f0f0;
  position: relative;
  font-family: Arial, sans-serif;
  
}

.detail-content {
  padding: 20px;
}

.detail-section {
    padding: 20px;
    background: linear-gradient(to bottom, #fff9e6 70%, #f5f5f5); 
    border-radius: 10px;
    margin: 20px auto;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
  
    .title-section {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
  
      .title-icon {
        width: 24px;
        height: 24px;
        margin-right: 10px;
      }

      .delete-icon {
        margin-left: 50px;
        width: 65px;
        height: 35px;
      }
  
      .title {
        font-size: 24px;
        font-weight: bold;
        color: #333;
      }
    }
  
    .url-section {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
  
      p {
        font-size: 16px;
        color: #666;
        margin-right: 10px;
      }
  
      .url-box {
        padding: 8px 15px;
        background-color: #ffffff;
        border: none;
        border-radius: 8px;
        color: #252525;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: calc(100% - 40px);
      }
    }
  
    .memo-section {
      margin-bottom: 20px;
  
      .memo-input {
        width: 100%;
        height: 150px;
        padding: 10px;
        background-color: #ffffff;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        color: #333;
        box-sizing: border-box;
        resize: none;
      }
    }
  
    .info {
      margin-bottom: 20px;
  
      h3 {
        font-size: 18px;
        font-weight: bold;
        color: #004080;
        margin-bottom: 10px;
      }
  
      ul {
        list-style: none;
        padding: 0;
  
        li {
          font-size: 16px;
          color: #333;
          margin-bottom: 10px;
          display: flex;
          justify-content: space-between; 
        }
  
        li span {
          color: #666; 
        }
  
        li .info-none {
          color: #ccc; 
        }
      }
    }
  
    .visit-button {
      display: block;
      width: 100%;
      padding: 12px 0;
      background-color: #013c58;
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      text-align: center;
    }
  }
  